<h3>Youtube Playlist Items to Download as MP3</h3>
<div className="container">
    <div *ngIf="loading; else loadedBlock"><div class="loader">Loading...</div></div>
    <ng-template #loadedBlock>
        <table className="table">
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>Download</th>
                    <th>Listen on YT</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of playlistItems ">
                    <td><img src={{item.thumbnailUrl}} width="120px" height="90px" /></td>
                    <td>{{item.title}}</td>
                    <td>
                        <div *ngIf="downloading; else downloadBlock" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        <ng-template #downloadBlock><a routerLink='#' (click)="downloadRequest(item)">Download</a></ng-template>
                    </td>
                    <td><a href='https://youtu.be/watch?v={{item.videoId}}'>Listen on YT</a></td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>