<h5>Your playlist downloading is ready!</h5>
<div className="container">
    <div *ngIf="loading; else loadedBlock"><div class="loader">Loading...</div></div>
    <ng-template #loadedBlock>
        <table className="table">
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>Download</th>
                    <th>Listen on YT</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of playlistItems">
                    <td><img src={{item.thumbnailUrl}} width="120px" height="90px" /></td>
                    <td>{{item.title}}</td>
                    <td>
                        <div *ngIf="item.currentState==='readyToDownload'">
                            <div (click)="downloadRequest(item)"><a routerLink="../list">Download</a></div>
                        </div>
                        <div *ngIf="item.currentState==='downloading'">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><div style="visibility: hidden;">Download</div></div>
                        </div>
                    </td>
                    <td><a href='https://youtu.be/watch?v={{item.videoId}}'>Listen on YT</a></td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>