<h3>Youtube Playlist Items to Download as MP3</h3>
<div className="container">
    <div *ngIf="loading; else loadedBlock"><div class="loader">Loading...</div></div>
    <ng-template #loadedBlock>
        <table className="table">
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>Download</th>
                    <th>Listen on YT</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of playlistItems ">
                    <td><img src={{item.thumbnailUrl}} width="120px" height="90px" /></td>
                    <td>{{item.title}}</td>
                    <td><a target="_blank" routerLink='/download/{{item.videoId}}' routerLinkActive="active">Download</a></td>
                    <td><a href='https://youtu.be/watch?v={{item.videoId}}'>Listen on YT</a></td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>